{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- breadcrumb -->

<div class="bread-crumb bgwhite flex-w p-l-52 p-r-15 p-t-20 p-l-15-sm">
	<a href="/" class="s-text16">
		Home
		<i class="fa fa-angle-right m-l-8 m-r-9"></i>
	</a>

```
<a href="{% url 'core:category' object.category.slug %}" class="s-text16">
	{{ object.category }}
	<i class="fa fa-angle-right m-l-8 m-r-9"></i>
</a>

<span class="s-text17">
	{{object.title}}
</span>
```

</div>

<!-- Product Detail -->

<div class="container bgwhite p-t-30 p-b-40">
	<div class="row align-items-start">

```
	<!-- Image -->
	<div class="col-md-5">
		<div class="product-image">
			<img src="{{ object.image.url }}" alt="{{ object.title }}">
		</div>
	</div>

	<!-- Details -->
	<div class="col-md-7 product-info">

		<h3 class="m-text16 p-b-10">
			{{object.title}}
		</h3>

		<!-- Price -->
		{% if object.discount_price %}
			<span class="block2-oldprice" style="font-size: 1.2rem;">
				${{ object.price }}
			</span>
			<span class="block2-newprice" style="font-size: 1.5rem;">
				${{ object.discount_price }}
			</span>
		{% else %}
			<span style="font-size: 1.5rem; font-weight: bold;">
				${{object.price}}
			</span>
		{% endif %}

		<p class="s-text8 p-t-10">
			{{ object.description_short }}
		</p>

		<!-- Size -->
		<div class="p-t-20">
			<label>Size</label>
			<select class="form-control w-50">
				<option>S</option>
				<option>M</option>
				<option>L</option>
				<option>XL</option>
			</select>
		</div>

		<!-- Color -->
		<div class="p-t-10">
			<label>Color</label>
			<select class="form-control w-50">
				<option>Black</option>
				<option>White</option>
				<option>Blue</option>
			</select>
		</div>

		<!-- Quantity + Buttons -->
		<div class="d-flex align-items-center gap-3 mt-4">

			<div class="quantity-box">
				<button>-</button>
				<input type="number" value="1">
				<button>+</button>
			</div>

			<a href="{{ object.get_add_to_cart_url }}" class="btn btn-dark">
				Add to Cart
			</a>

			<a href="{{object.get_remove_from_cart_url}}" class="btn btn-outline-danger">
				Remove
			</a>

		</div>

		<!-- Extra Info -->
		<div class="p-t-20">
			<span class="s-text8 m-r-20">SKU: {{ object.stock_no }}</span>
			<span class="s-text8">Category: {{ object.category }}</span>
		</div>

	</div>
</div>
```

</div>

{% endblock content %}
